@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* 定义主题颜色变量 */
:root {
  --primary-color: #10b981; /* 默认主题颜色 */
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #10b981; /* 深色主题颜色 */
  --background-color: #000000;
  --text-color: #ffffff;
}

/* 添加全局样式 */
html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  @apply w-full h-full text-sm;
}

.primary-color {
  color: var(--primary-color)
}

/* 添加全局样式 */
/* 自定义所有滚动条 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
