@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* 添加全局样式 */
html, body {
  @apply  text-gray-900;
}

#root {
  @apply w-full h-full text-black text-sm;
}

.primary-color {
  @apply text-green-500;
}

/* 添加全局样式 */
/* 自定义所有滚动条 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
